/**** DEBUG ****/
// * {
//     border: 1px solid red;
// }

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* SCROLLBAR */

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

/* /SCROLLBAR */
