/**** DEBUG ****/
// * {
//     border: 1px solid red;

//     @media (min-width: $sm-breakpoint) {
//         border: 1px solid green;
//     }
//     @media (min-width: $md-breakpoint) {
//         border: 1px solid blue;
//     }
//     @media (min-width: $lg-breakpoint) {
//         border: 1px solid #00ffd5;
//     }
//     @media (min-width: $xl-breakpoint) {
//         border: 1px solid orange;
//     }
// }

* {
    box-sizing: border-box;
}

html {
    font-size: 21%;
    text-rendering: optimizeLegibility;
    @media (min-width: $sm-breakpoint) {
        font-size: 32.5%;
    }
    @media (min-width: $md-breakpoint) {
        font-size: 50%;
    }
    @media (min-width: $lg-breakpoint) {
        font-size: 62.5%;
    }
    @media (min-width: $xl-breakpoint) {
        font-size: 70%;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #ff8a26;
}

::-webkit-scrollbar {
    width: 0;
}
